<div id="content">
  <h1>Velkommen til Campus<i class="fa-solid fa-plus"></i></h1>
</div>
<div class="video-container">
  <iframe
    id="intro-video"
    src="https://www.youtube.com/embed/aGnraWDwmXk?autoplay=1&mute=1&playsinline=1"
    title="Campus+ 2024"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
<div class="content-container">
  <div class="content-box1">
    <h2>SE PROGRAM</h2>
  </div>
  <div class="content-box2">
    <h2>NYHEDER</h2>
  </div>
  <div class="content-box3">
    <h2>INFO</h2>
  </div>
  <div class="content-box4">
    <h2>KORT</h2>
  </div>
</div>
