/* Bottom Navigation */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.nav-item img {
  width: 50px;
  height: 30px;
  transition: transform 0.2s ease;
}

.nav-item img:hover {
  transform: scale(1.1);
}

